<h1>Editing Student</h1>
<p>Fix the change of graduating classes if a kid stays back</p>
<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
