<%= form_tag import_students_url(:graduating_class_id => @classOf.id), multipart: true do %>
<p>Submit the CSV File Here: <%= file_field_tag :file, accept: 'text/csv'%></p>
<%= submit_tag "Submit Students File" %>
<% end %>
