<div class="px-5 pt-2">

<h1>Pay Dues</h1>

<%= form_with  class: "nifty_form", url: updateDues_students_url(id: @student.id), method: :patch do |f| %>
<p>Enter the amount of the payment:</p>
<p><%= f.number_field :paidBalance%></p>
  <p><%= f.submit "Confirm Payment", class: "bg-primary text-light rounded p-1"%> <%=link_to "View All Students", students_url(:year => @student.graduating_class.gradYear) %></p>
<% end %>
</div>
